.navbar{
    font-family: 'Oswald', sans-serif;
    font-size: 1.3em;
    background-color:transparent;
    width: 100%;
    
    
}
html{
    scroll-behavior: smooth;
}
.container1{
   position:fixed;
    z-index: 100;
    width: 100%;
    background-color:transparent;
    margin-left: 0;
    margin-right: 0%;
    
}

.navbar-nav{
   
}
.team{
    margin-top: 100px;
    margin: 0 auto;
    text-align: center;
}
.header{
   margin-top: 80px;
    margin-left: 40px;
    margin-right: 40px;
   padding: 25px;
   display: block;
}
.header h1{
    font-family: 'Oswald', sans-serif;
    margin-bottom: 20px;
    text-align: center;
}
.contact{
    text-align: center;

}
.header p{
    text-align: center;
}
.header ul{
   margin:0 auto;
}
.header .event li{
    margin-top: 30px;
    color: grey;
}
#carouselExampleFade{
width: 100%;
height: 750px;
position: relative;

}

#carouselExampleFade img{
    width: 100%;
    height: 750px;
    }
    
body{
   
}
.navbar-brand{
    color: rgb(201, 223, 243);
    font-size: 1.3em;
}
 button{
    color: rgb(202, 216, 230);
}
.navbar-dark .navbar-nav .nav-link
{
    
        color: rgb(201, 223, 243);
  
}
.navbar-brand:hover{
    color:white;
}
.navbar-dark .navbar-nav .nav-link
{
    
       color: white;
  
}